<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      <div class="circle">
        <br />
        FUND
        <br />
        RAISER
        <br />
        APP
      </div>
    </div>

    <div class="col-xs-4">
      
      <div class="slogan">
      <br class="clear" />
      21 Days to COUNT ME IN!
    </div>
    
    
    </div>
  </header>
  <hr />
  

<%= yield %>

</body>
</html>
